/* Example google font import */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Target the title element and apply the following styles: */



body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#header{
  background-color: #2c6e49;
  color: white;
  padding: 30px;
}


#paragraph {
  margin: 40px;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#beaverimage{
 width: 500px;
  border-radius: 10px;
  margin: 20px 0;
  height: 300px;
}

#stripedskunkimage{
 width: 500px;
 border-radius: 10px;
 margin: 20px 0;
 height: 300px;
}

#footer{
  margin-top: 40px;
  padding: 20px;
  background-color: #ddd;
  font-size: 14px;
}

.A-button-label{
  font-size: 15px;
  color:rgb(40, 131, 40);
  margin-top: 5px;
}
.B-button-label{
  font-size: 15px;
  color:rgb(40, 131, 40);
  margin-top: 5px;
}